*,
*::after,
*::before {
    box-sizing: border-box;
}

/* 
some colors yerrr
*/
:root {
    --glacier-blue: #4498ae;
    --azure-sky: #447fa7;
    --calm-water: #7aaabc;
    --lavender-mist: #a6a8dc;
    --creamy: #fffff5;
    --urban-steel: #35383e;
    --alpine-green: #275d5d;
    --boreal-sea: #859cb6;
    --olive-fog: #a8af90;
    --deep-silver: #c4cfd7;
    --herbal-mist: #aed3b1;
    --golden-aura: #b7830d;
    --picked-color: #CB917D;
    --yuna-blonde: rgb(203, 145, 125);
    --yuna-blonde-light: oklch(0.928182 0.0688581 39.8288);
    --yuna-blonde-dark: oklch(0.78 0.0703883 39.8288);
    --yuna-blonde-compliment: color(srgb 0.490196 0.717647 0.796078);
    --lighter: oklch(from var(--picked-color) clamp(0, l + 0.22, 1) calc(c * 0.9) h);
    --darker: oklch(from var(--picked-color) clamp(0, 1 - 0.22, 1) calc(c * 0.92) h);
    --compliment: hsl(from var(--picked-color) calc(h - 180) s l);
    --body-light: white;
    --body-dark: linear-gradient(90deg, #23272e, rgb(44, 49, 58), rgb(53, 59, 70), rgb(44, 49, 58), #23272e);
    --h2-light: radial-gradient(circle at center, rgb(0, 0, 214), rgb(0, 0, 170), darkblue);
    --h2-dark: radial-gradient(circle at center, rgb(0, 0, 214), rgb(0, 0, 170), darkblue);
}

* {
    color-scheme: light dark;
    margin: 0;
    font-family: Verdana;
    color: light-dark(black, var(--creamy));
}

body {
    color-scheme: light dark;
    display: flex;
    flex-direction: column;
    background-color: light-dark(var(--yuna-blonde-light), #23272e);
    background-size: contain;
    /* z-index: -4; */
    align-items: center;
    gap: 1vw;
    align-content: space-between;
    padding-bottom: 1vw;
}

a {
    text-decoration: none;
}

#nav-bar {
    display: flex;
    width: 100%;
    padding-inline: 2vw;
    gap: 0.5vw;
    /* z-index: -3; */
    background-color: light-dark(var(--yuna-blonde), #454e61);
    content-visibility: auto;
    justify-content: center;
}

.wip {
    padding-block: 0.5vw;
    text-align: center;
}

.nav-item {
    position: relative;
    text-decoration: none;
    padding-block: 0.5vw;
    padding-inline: 0.5vw;
    text-align: center;
    z-index: 1;
}
.nav-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: -1;
    background-color: light-dark(var(--yuna-blonde), #454e61);
}

.nav-item-highlight-bar {
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    background-image: linear-gradient(90deg, var(--creamy), var(--glacier-blue));
    animation: 0.1s linear;
    animation-name: appear;
    animation-play-state: paused;
}
@keyframes appear {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes disappear {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.vertical-divider {
    position: relative;
    display: flex;
    height: 100%;
    align-self: center;
    user-select: none;
}

.page-wrapper {
    display: flex;
    /* background-color: rgb(255, 0, 0, 0.5); */
    padding: 2vw;
    gap: 2vw;
}

.block-wrapper {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle at center, rgb(126, 126, 126), rgb(110, 110, 110));
    /* border: 0.1vw solid var(--creamy); */
    flex: 0.5;
    content-visibility: auto;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

img {
    width: 100%;
    height: auto;
}

#color-wrapper {
    display: flex;
    gap: 1vw;
}

.color-frame {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    background-color: light-dark(white, rgb(56, 56, 56));
    border-radius: 1vw;
    content: "";
    align-items: center;
    text-align: center;
    gap: 0.5vw;
}

.color {
    width: 10vw;
    height: 10vw;
}

#color-picked {
    background-color: var(--picked-color);
}

#color-light {
    background-color: var(--lighter);
}

#color-dark {
    background-color: var(--darker);
}

#color-compliment {
    background-color: var(--compliment);
}

.color-val {
    /* overflow-wrap: break-word; */
    font-size: 0.75em;
}

hr {
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    /* background-color: grey; */
    gap: 1vw;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 75vw;
    gap: 0.5vw;
    padding: 0.5vw;
    background-color: light-dark(var(--yuna-blonde-compliment), rgb(65, 65, 65));
    font-size: 1.3em;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 0.5vw;
    padding: 0.5vw;
    background-color: light-dark(var(--yuna-blonde-compliment), rgb(65, 65, 65));
}

.project-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* gap: 0.5vw; */
}

.project-img {
    width: 70%;
    align-self: center;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.job-header {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.job-title-date {
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.job-date {
    font-size: 0.6em;
    align-self: center;
}
